<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
 
    <div class="container-fluid mt--7">
  <!-- Dark table -->
   <div class="row mt-5">
      <div class="col">
        <div class="card bg-default shadow">
          <div class="card-header bg-transparent border-0">
            <h3 class="text-white mb-0">Card tables</h3>
            <button type="button" class="btn btn-info" [routerLink]="['/#/']">Agregar</button>
          </div>
          
          <div class="table-responsive">
            <table class="table align-items-center table-dark table-flush">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Project</th>
                  <th scope="col">Budget</th>
                  <th scope="col">Status</th>
                  <th scope="col">acciones</th>
                </tr>
              </thead>
              <tbody *ngFor="let municipye of municipyes" (click)="editarEnterprise(enterprise.idEnterprise)">
                <tr>
                  <th scope="row">{{municipye.idMunicipality}}</th>
                  
                  <td>{{municipye.id_state}}</td>
                  <td>{{municipye.fldmunicipality}}</td>
                  <td>
                    <button class="btn btn-primary btn-sm" >
                      <i class="fa fa-pen text-white" aria-hidden="true" [routerLink]="['/#/', enterprise.idEnterprise]"></i>
                    </button>
                  </td>
                   
                  
                </tr>
              </tbody>
            </table>
          </div>
              