<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
 
  <div class="container-fluid mt--7">
<!-- Dark table -->
 <div class="row mt-5">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Card tables</h3>
          <button type="button" class="btn btn-info" [routerLink]="['/add-register/']">Agregar</button>
        </div>
        
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Project</th>
                <th scope="col">Budget</th>
                <th scope="col">Status</th>
                <th scope="col">acciones</th>
              </tr>
            </thead>
            <tbody *ngFor="let register of registers" ><!--(click)="editarEnterprise(enterprise.idEnterprise)"  -->
              <tr>
                <th scope="row">{{register.fldname}}</th>
                
                <td>{{register.userType}}</td>
                <td>{{register.fldemailAccount}}</td>
                
                <td>
                  <button class="btn btn-primary btn-sm" >
                    <i class="fa fa-pen text-white" aria-hidden="true" [routerLink]="['/edit-register/',register.idUser]"></i><!-- /edit-enterprise/ -->
                  </button>
                  <button class="btn btn-danger btn-sm" >
                    <i class="fa fa-trash text-white" aria-hidden="true" (click)="deleteRegister(register)"></i><!-- /edit-enterprise/ -->
                  </button>
                </td>
                 
                
              </tr>
            </tbody>
          </table>
        </div>
            